 #main-content {
	border:solid;
	width: 500px;
	padding:30px;
	display: block;
 }

 
 img {
   
   background:#00FFFF;
   padding: 20px;
   width: 200px;
   height: 200px;
}

.caption{
	display:block;
	
}